body{ 
    color: #B0B0B0;
    background: #1C1C1C;
    margin: 0px;
    font-family: "Teko", sans-serif;
    margin-bottom: 100px;
}

header {

    border-bottom: solid 2px (152, 70, 210);
    padding: 20px;
    font-size: 72px;
    color: white;
}


.chamada {

    background: rgb(7, 7, 7);
    padding-bottom: 70px;
    padding-top: 30px;
    display: flex;
    justify-content: center ;
}

.texto-principal {

    margin-right: 15%;
}
h1{
  font-size: 50px;  
}
p{

    font-size: 15px;
}

img {
 height: 200px;

}

.categoria-filmes {
   display: flex; 
   overflow-x: auto;
   gap: 10px;
}

.categoria{

    padding-left:20px ;
    padding-right: 10px; ;
    margin-top: 50px;
}

.categoria-filmes img {

    opacity: 0.5;
}

.categoria-filmes img:hover {

opacity: 1.0;
border: 1px solid green;
}

.categoria h2 {

    color: rgb(237, 233, 233);
}